---
http_interactions:
- request:
    method: post
    uri: https://mandrillapp.com/api/1.0/messages/send.json
    body:
      encoding: UTF-8
      string: '{"key":"fakekey","message":{"text":"testing","subject":"testing","from_email":"test@test.com","to":[{"email":"test@example.com"}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"email":"test@example.com","status":"sent","_id":"46223c56391d4f31a8079aa69eb125aa","reject_reason":null}]'
  recorded_at: Mon, 09 Nov 2015 13:40:10 GMT
recorded_with: VCR 2.9.3
