---
http_interactions:
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/projects/1053124/stories
    body:
      encoding: UTF-8
      string: '{"name":"Testing Pivotal API","story_type":"chore"}'
    headers:
      Content-Type:
      - application/json
      X-Trackertoken:
      - afaketoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '17'
      Etag:
      - '"3153849c2aa6910b84051fb3f95aa916"'
      X-Tracker-Client-Pinger-Interval:
      - '8'
    body:
      encoding: UTF-8
      string: '{"kind":"story","id":85381528,"project_id":1053124,"name":"Testing
        Pivotal API","story_type":"chore","current_state":"unscheduled","requested_by_id":371381,"owner_ids":[],"labels":[],"created_at":"2015-01-04T03:27:51Z","updated_at":"2015-01-04T03:27:51Z","url":"https://www.pivotaltracker.com/story/show/85381528"}'
  recorded_at: Sun, 04 Jan 2015 03:27:52 GMT
recorded_with: VCR 2.9.3
