---
http_interactions:
- request:
    method: post
    uri: https://hooks.slack.com/services/abcd/efgh/ijkl
    body:
      encoding: UTF-8
      string: '{"text":"Testing","username":"TestBot","attachments":[{"fallback":"test
        fallback text","text":"test text","pretext":"test pretext","fields":[{"title":"test
        field 1","value":"test value 1"},{"title":"test field 2","value":"test value
        2"}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ok
  recorded_at: Sun, 04 Jan 2015 21:21:29 GMT
recorded_with: VCR 2.9.3
